<p>
  <b>Title:</b>
  <%=h @image.title %>
</p>

<p>
  <b>Short name:</b>
  <%=h @image.short_name %>
</p>

<p>
  <b>Album:</b>
  <%=h @image.album_id %>
</p>


<%#= link_to 'Edit', edit_album_image_path(@album,@image) %> 
<%= link_to 'Back', album_path(@album) %>